@keyframes arrowAnimate {
  0% {
    bottom: 20px;
    opacity: 0.8;
  }
  50% {
    bottom: 30px;
    opacity: 1;
  }
  80% {
    bottom: 32px;
    opacity: 0.4;
  }
  100% {
    bottom: 32px;
    opacity: 0;
  }
}

.full-page-box {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .full-page-wrapper {
    width: 100%;
    transition: transform 0.6s ease-in-out;
    .full-page-item {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .top-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); // 向上
    z-index: 100;
    pointer-events: none;

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-left: 2px solid #999;
      border-bottom: 2px solid #999;
      transform: rotate(45deg);
      margin: auto;
    }

    animation: arrowAnimate 2s ease-in-out infinite;
  }
}

